<div>
   <h2>Contact list</h2>
   <table>
      <thead>
         <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Actions</th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let contact of contacts">
            <td>{{contact.name}}</td>
            <td>{{contact.phone}}</td>
            <td>
               <button (click)="deleteContact(contact._id)">Delete</button>
            </td>
         </tr>
      </tbody>
   </table>
</div>


<div>
   
</div>